# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

coverage

node_modules/

*.tsbuildinfo

.npm

.eslintcache

.yarn-integrity

.env
.env.test
.env.prod

.cache

dist

.cache/

.vuepress/dist

.serverless/

/server/**/*.js
/server/**/*.d.ts
/server/**/*.d.ts.map

/client-dist
/server-dist
/api-dist

/server/generated

/docs

.vercel
