# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

coverage

node_modules/

*.tsbuildinfo

.npm

.eslintcache

.yarn-integrity

.env.test
.env.prod

/dev.ts

.cache

dist

db-prod.sqlite
db.sqlite

.cache/

.vuepress/dist

.serverless/

/server/**/*.js
/server/**/*.d.ts
/server/**/*.d.ts.map

/client-dist
/server-dist
/api-dist

/server/codegen-generated
/server/genql-generated
.vercel

/server/prisma/client/
/server/prisma/prisma.sqlite
/server/typegraphql/schema.graphql

/docs
